extends layout/layout

block vars
	- var pageTitle = "Home"
	- var pageClass = "home"

block content
	#hero
		.wrapper
			h1 We are Rebel Uncut 
			h2 A creative agency committed to making awesome with film, animation & digital.
			.btn-group
				a(href="work") Our work
	#stories
		h1 Coups
		ul
			for project in site.work
				li: a(href=project._url)
					img(src=project.header_img)
					.meta
						h2= project.job
						h3= project.client
	#updates
		h1 Propaganda
		ul
			for update in site.propaganda
				li: a(href=update._url)
					img(src=update.header_img)
					.meta
						h2= update.title
						p= update.summary
	#services
		h1 Arsenal
		p 
		ul
			li(style="background-image: url(img/services/film.jpg)")
				img(src='img/services/narrative-films.svg', class="svg")
				h3 Narrative Film
			li(style="background-image: url(img/services/corporate.jpg)")
				img(src='img/services/corporate-films.svg', class="svg")
				h3 Corporate Film
			li(style="background-image: url(img//services/effects.jpg)")
				img(src='img/services/visual-effects.svg', class="svg")
				h3 Visual Effects
			li(style="background-image: url(img/work/bourg.jpg)")
				img(src='img/services/development.svg', class="svg")
				h3 Development
			li(style="background-image: url(img/services/training.jpg)")
				img(src='img/services/training.svg', class="svg")
				h3 Training
			li(style="background-image: url(img/services/events.jpg)")
				img(src='img/services/events.svg', class="svg")
				h3 Events
